body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  font-family: Roboto mono;
  background-color: #1c1c1c;
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  color: white;
}

.title {
  font-weight: bold;
  font-size: 15vh;
  max-width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14em auto;
}

div, p, input, button {
  margin: 0;
  padding: 0;
}
